/* colors */
$dark-grey: #202020;
$grey: #595959;
$light-grey: #979797;

$white: #FFF;

$error-light: #FFBCBC;
$error: #FF0000;

$orange: #FD5817;
$dark-orange: #E54100;

/* borders */
$border-radius: 8px;
