/* colors */
$dark-grey: #202020;
$grey: #595959;
$light-grey: #979797;
$lightest-grey: #F7F7F7;

$white: #FFF;

$error-light: #FFBCBC;
$error: #FF0000;

$brand-main: #FD178D;
$brand-drank: #C8106E;

/* borders */
$border-radius: 8px;
